body{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
    
    margin: 20px 0 0 0 ;
    padding: 0 0 0 0;
    color: black;
    display: block;
}  


p{
    padding: auto;
    font-size: 20px;
}

.word-box{
    width:250px;
    height: auto;
    border-bottom: 1px solid grey;
}

.word-box .word-above{
    display: flex;
    height: auto;
}

.word-box .word-above p, i{
    
    margin-right: 10px;
    padding-top: 0;
}

.pronunciation-box{
    border-bottom: 1px solid grey;
    
}
.pronunciation-box p {
    width: 95px;
    height: inherit;
    margin: 0px 10px 0 10px ;
    padding: 18px 0px 10px 0;
    
}
.flex{
    display: flex;
    padding: 0px;
}



.def-1st{
    border-bottom: 1px solid grey;
}
.def-1st p i{
    font-size: 20px;
    margin-right: 10px;
}
#definition { margin-left: 10px;}

.def-2nd{
    border-bottom: 1px solid grey;
}
.def-2nd p i {
    font-size: 20px;
    margin-right: 10px;
}
#definition-en { margin-left: 10px;}

hr{
    margin-top: 1px;
}